
/* estilocontatos.css - Estilos específicos para a página de contato */
.contato-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}



.contato-info h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
    position: relative;
    padding-bottom: 1rem;
}

.contato-info h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.info-block {
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.info-block h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.info-block p {
    margin-bottom: 0.5rem;
    color: #e0e0e0;
    font-size: 1rem;
    line-height: 1.6;
}

.contato-form .form-group label {
    color: #e0e0e0; /* Escolha a cor desejada */
}

.contato-form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.map-container {
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

@media (max-width: 768px) {
    .contato-container {
        grid-template-columns: 1fr;
        padding: 2rem;
        gap: 2rem;
    }

    .contato-info h1 {
        font-size: 2rem;
    }

    .map-container {
        height: 250px;
    }
}